header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
img{
	float: left;
	padding-right: 5%;
}
.resort{
	color: #627892;
	font-weight: bold;
}
nav{
	grid-row: 2 / span 4;
	grid-column: 1 / span 1;
	background-color: #87ceeb;
	padding-right: 35px;
}
nav ul {
	list-style: none;
	font-size: 1.0em;
	padding-left: 19px;
	padding-right: 20px;
}
nav a:link {
	text-decoration: none;
	color: #0a0e32;
	font-weight: 850;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
#content li{
	margin-left: 10%;
	list-style-image:url("marker.gif");
}
#wrapper{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	margin: 0 auto;
	background-color: white;
	width: 80%;
	min-width: 600px;
}
header{
	font-size: medium;
	grid-row: 1 / span 1;
	grid-column: 1 / span 5;
}
#content{
	margin: 5%;
	margin-top: 2%;
	grid-row: 2 / span 1;
	grid-column: 2 / span 4;
}
body {
	padding-bottom: 80px;
	margin-bottom: auto;
	background-image: linear-gradient(to top, #00569f,#f0f5f9);
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: white;
	margin-bottom: 0;
	padding: 15px;
	background-image: url("sunset.jpg");
	background-color: #000033;
	background-position: right;
	background-repeat: no-repeat;
	background-position: 100%;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	grid-row: 5 / span 1;
	grid-column: 2 / span 4;
	margin-bottom: 5%;
	margin-left: 5%;
	font-family: Georgia, "Times New Roman", serif;
}

